.done {
    text-decoration: line-through;
}

.item__list {
    &:hover {
        cursor: pointer;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 20px 50px;
    font-size: 18px;
    color: rgb(31, 30, 30);
    box-shadow: 0px 10px 180px rgba(0, 0, 0, 0.2);

    &_btn {
        margin: 0 0 0 20px;
        padding: 3px 25px;
        height: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        font-weight: bold;
        color: red;
        font-size: 13px;
        border-radius: 5px;
        transition: 200ms;
        &:hover {
            border-radius: 80%;
            height: 50px;
            height: 50px;
            color: white;
            background-color: red;
            cursor: pointer;
            transition: 200ms;
        }
    }

    @include large {
        .item {
            padding: 50px 50px;
            font-size: 20px;

            &_btn {
                margin: 0 0 0 20px;
                padding: 3px 25px;
                height: 50px;
                height: 50px;
                font-size: 20px;
                border-radius: 5px;
            }
        }
    }
}
