.form{ 
    display: flex;
    flex-direction: row;
    justify-content: center;

  
   &__input{ 
    text-align: center;
    padding: 5px 15px;
    border: none;
    background-color: whitesmoke;
    font-size: 15px;
    &:focus-visible{
        outline: none;
    }
   }
}




@include large{
    .form{ 
    display: flex;
    flex-direction: row;
    justify-content: center;

  
   &__input{ 
       text-align: center;
    padding: 5px 15px;
    border: none;
    background-color: whitesmoke;
    font-size: 18px;
    &:focus-visible{
        outline: none;
    }
   }
}}