
  .btn{margin: 0 0 0 20px;
    padding: 5px 12px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    transition: 200ms;
    &:hover{
        background-color: rgb(0, 132, 255);
        cursor: pointer;
        transition: 200ms;
    }}



@include large {
    .btn{margin: 0 0 0 20px;
        padding: 5px 15px;
        border: none;
        background-color: grey;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        transition: 200ms;
        &:hover{
            background-color: rgb(0, 132, 255);
            cursor: pointer;
            transition: 200ms;
        }}}