nav{ 
    background-color: whitesmoke;
    padding:  20px;
    margin: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        padding: 0 20px;
        height: 30px;
        width: auto;
    }
}

@include large {
.nav{ 

    justify-content: start;

}
}