.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.col1 {
    background-color: white;
    padding: 100px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid rgb(212, 212, 212);
   
}

.col2 {
    h1 {
        margin: 30px 0;
        text-align: center;
        font-size: 50px;
    }

    @include large {
        h1 {
            text-align: left;
            padding: 0 30px;
        }
    }

    background-color: white;
    color: grey;
    padding: 30px 100px;
    height: 100vh;
    width: 100%;
}

@include large {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        align-content: stretch;
        height: 100vh;
    }

    .col1 {
        background-color: white;
        padding: 100px;
        height: 100vh;
        width: 30%;
        border-right: 2px solid rgb(212, 212, 212);
    }

    .col2 {
        h1 {
            font-size: 50px;
        }

        background-color: white;
        color: grey;
        padding: 30px 100px;
        height: 100vh;
        width: 70%;
    }
}
